@tailwind base;
@tailwind components;
@tailwind utilities;     

img {
	display: block;
	width: 100%;
  height: 150px;
}

h2 {
	margin: 0;
	font-size: 14px;
}

@media (min-width: 50em) {
	h2 {
		font-size: 1.2rem;
	}
}

.cta {
	display: flex;
	flex-wrap: wrap;
	background: hsl(187 70% 85%);
	max-width: 30rem;
	width: 100%;
	border-radius: 0.8rem;
	overflow: hidden;
	border: 1px solid;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 2px solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
	display: inline-block;
	color: black;
	padding: 0.5rem;
	text-decoration: none;
	background: hsl(187 75% 64%);
	border-radius: 0.6rem;
	font-weight: 600;
	border: 1px solid;
}